<!-- <div class="container-fluid">
  <div class="row bg-secondary py-2 px-xl-5">
      <div class="col-lg-6 d-none d-lg-block">
          <div class="d-inline-flex align-items-center">
              <a class="text-dark" href="">FAQs</a>
              <span class="text-muted px-2">|</span>
              <a class="text-dark" href="">Help</a>
              <span class="text-muted px-2">|</span>
              <a class="text-dark" href="">Support</a>
          </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
          <div class="d-inline-flex align-items-center">
              <a class="text-dark px-2" href="">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a class="text-dark px-2" href="">
                  <i class="fab fa-twitter"></i>
              </a>
              <a class="text-dark px-2" href="">
                  <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="text-dark px-2" href="">
                  <i class="fab fa-instagram"></i>
              </a>
              <a class="text-dark pl-2" href="">
                  <i class="fab fa-youtube"></i>
              </a>
          </div>
      </div>
  </div> -->
  <!-- <div class="row align-items-center py-3 px-xl-5">
      <div class="col-lg-3 d-none d-lg-block">
          <a href="" class="text-decoration-none">
              <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Iroha</span>Shop</h1>
          </a>
      </div>
      <div class="col-lg-6 col-6 text-left">
          <form action="">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Nhập tên sản phẩm....">
                  <div class="input-group-append">
                      <span class="input-group-text bg-transparent text-primary">
                          <i class="fa fa-search"></i>
                      </span>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-lg-3 col-6 text-right">
          <a href="" class="btn border">
              <i class="fas fa-shopping-cart text-primary"></i>
              <span class="badge" id="numberItemCart">0</span>
          </a>
      </div>
  </div>
</div> -->


<div class="container-fluid">
  <div class="row border-top px-xl-5">
      <!-- <div class="col-lg-3 d-none d-lg-block">
          <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-bs-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
              <h6 class="m-0">Categories</h6>
              <i class="fa fa-angle-down text-dark"></i>
          </a>
          <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
              <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                  <div class="nav-item dropdown">
                      <a href="#" class="nav-link" data-bs-toggle="dropdown">Dresses <i class="fa fa-angle-down float-right mt-1"></i></a>
                      <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                          <a href="" class="dropdown-item">Men's Dresses</a>
                          <a href="" class="dropdown-item">Women's Dresses</a>
                          <a href="" class="dropdown-item">Baby's Dresses</a>
                      </div>
                  </div>
                  <a href="" class="nav-item nav-link">Shirts</a>
                  <a href="" class="nav-item nav-link">Jeans</a>
                  <a href="" class="nav-item nav-link">Swimwear</a>
                  <a href="" class="nav-item nav-link">Sleepwear</a>
                  <a href="" class="nav-item nav-link">Sportswear</a>
                  <a href="" class="nav-item nav-link">Jumpsuits</a>
                  <a href="" class="nav-item nav-link">Blazers</a>
                  <a href="" class="nav-item nav-link">Jackets</a>
                  <a href="" class="nav-item nav-link">Shoes</a>
              </div>
          </nav>
      </div> -->
      <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-3">
              <a href="/" class="text-decoration-none d-block d-lg-block">
                  <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Iroha</span>Shop</h1>
              </a>
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between" style="margin-left: 50px;" id="navbarCollapse">
                  <div class="navbar-nav mr-auto py-0">
                      <a href="javascript:void(0)" routerLink="/" class="nav-item nav-link">Trang chủ</a>
                      <a href="javascript:void(0)" routerLink="shop" class="nav-item nav-link">Cửa hàng</a>
                  </div>
                  <div class="navbar-nav ml-auto py-0" [ngSwitch]="account !== null" >
                    <div class="nav-item dropdown" *ngSwitchCase="true">
                      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" *jhiHasAnyAuthority="'ROLE_ADMIN'">Quản lý</a>
                        <div class="dropdown-menu rounded-0 m-0" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                          <a class="dropdown-item" routerLink="admin/category" routerLinkActive="active">Danh mục</a>
                          <a class="dropdown-item" routerLink="admin/producer" routerLinkActive="active">Nhà sản xuất</a>
                          <a class="dropdown-item" routerLink="admin/payment" routerLinkActive="active">Phương thức thanh toán</a>
                          <a class="dropdown-item" routerLink="admin/product" routerLinkActive="active">Sản phẩm</a>
                          <a class="dropdown-item" routerLink="admin/order" routerLinkActive="active">Đơn hàng</a>
                          <a class="dropdown-item" routerLink="admin/user" routerLinkActive="active">Người dùng</a>
                          <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active">Người dùng quản lí</a>
                      </div>
                      <div class="dropdown-menu rounded-0 m-0">
                          <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                          <a href="checkout.html" class="dropdown-item">Checkout</a>
                      </div>
                    </div >
                      <a href="javascript:void(0)" class="nav-item nav-link" (click)="login()" data-cy="login" *ngSwitchCase="false">Đăng nhập</a>
                      <a href="javascript:void(0)" class="nav-item nav-link" routerLink="account/register" data-cy="register" *ngSwitchCase="false">Đăng kí</a>
                      <div class="nav-item dropdown" *ngSwitchCase="true">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{account.fullname}}</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="javascript:void(0)" class="dropdown-item" routerLink="account/settings">Thông tin cá nhân</a>
                            <a href="javascript:void(0)" class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">Đăng xuất</a>
                        </div>
                      </div >
                  </div>
              </div>
              <a routerLink="cart" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                <span class="badge" id="numberItemCart">{{cartNumber}}</span>
            </a>
          </nav>
      </div>
  </div>
</div>


<!-- <nav data-cy="navbar" class="navbar navbar-light navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span jhiTranslate="global.title" class="navbar-title">Iroha_mobile_shop_fe</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-bs-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Home</span>
            </span>
          </a>
        </li>
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span jhiTranslate="global.menu.entities.main">Entities</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/category" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Category</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/payment" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Payment</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/producer" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Producers</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/product" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Products</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span jhiTranslate="global.menu.admin.main">Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
              </a>
            </li>
            <li *ngIf="!inProduction">
              <a class="dropdown-item" href="./h2-console/" target="_tab" (click)="collapseNavbar()">
                <fa-icon icon="database" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.database">Database</span>
              </a>
            </li>
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
            <span>
              <fa-icon icon="flag"></fa-icon>
              <span jhiTranslate="global.menu.language">Language</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            <li *ngFor="let language of languages">
              <a
                class="dropdown-item"
                [jhiActiveMenu]="language"
                href="javascript:void(0);"
                (click)="changeLanguage(language); collapseNavbar()"
                >{{ language | findLanguageFromKey }}</a
              >
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Account</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Settings</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Password</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Sign in</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                class="dropdown-item"
                routerLink="account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Register</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
